variables:
  IMAGES: git-pull git-dump

stages:
  - prepare
  - images

prepare:
  stage: prepare
  script:
  - for IMG in $IMAGES; do sed -e "s/{{ IMAGE }}/$IMG/" .image-gitlab-ci.yml  > .child-$IMG.yml; done
  artifacts:
    paths: [ .child-*.yml ]

git-dump:
  stage: images
  trigger:
    include:
    - artifact: .child-git-dump.yml
      job: prepare

git-pull:
  stage: images
  trigger:
    include:
    - artifact: .child-git-pull.yml
      job: prepare
      
